/* table in the center */
#datagrid .dojoxGrid {
    font: 12px 'Trebuchet MS', Arial, sans-serif;
}
#datagrid {
    width: 100%;
    height: 400px;
}
#datagrid-table .dojoxGridHeader .dojoxGridCell {
/*    background: #2d2d2d;
    color: #c8c4aa !important;
    */
    font-size: 12.5px;
    font-weight: normal;
}
#datagrid-table .dojoxGridHeader .dojoxGridCell.dojoxGridCellOver .dojoxGridSortNode,
#datagrid-table .dojoxGridHeader .dojoxGridCellSortFocus .dojoxGridSortNodeFocus,
#datagrid-table .dojoxGridHeader .dojoxGridCellSortFocus .dojoxGridSortNode {
/*    background: #6d6d6d; */
}
