* {padding:0; margin:0; border:none; list-style:none; text-decoration:none; outline: none;}

body {
    font: 12px 'Trebuchet MS', Arial, sans-serif;
}

#top-menu {
    width: 100%;
    background-color: #2d2d2d;
    color: #c8c4aa;
    font-size: 13px;
}

#top-menu .dijitMenuBar {
    padding: 5px;
}

#user-menu {
    position: absolute;
    right: 0;
    top: 0;
}

#top-menu h1.current-page {
    display: block;
    float: left;
    font-size: 13px;
    vertical-align: center;
    background-color: #2d2d2d;
    padding: 8px 5px;
    margin: 0 8px;
    border-top: 2px solid #DD4B39;
    text-shadow: 1px 1px 0.5px #6d6d6d;
    min-width: 150px;
    text-align: center;
}

.dijitMenuItem {
    background-color: #2d2d2d;
    padding: 5px 10px;
}

.dijitMenuPassive .dijitMenuItemHover,
.dijitMenuItemSelected {
    color: #c8c4aa;
    background-color: #4d4d4d !important;
    text-shadow: 1px 1px 1px #111;
}

.dijitMenuTable {
    width: 150px;
}

.dijitMenuTable tr.dijitMenuItem td {
    padding: 5px;
}

.dijitPopup .dijitMenuItem {
    color: #c8c4aa;
    font-size: 13px;
}

/* wrapper */
.wrapper {
    width: 960px;
    margin: 0 auto;
}

/* search bar section on top */
#search {
    width: 100%;
    margin: 50px 0;
    height: 53px;
    padding: 5px;
}

#search > img {
    float: left;
}

#search > form {
    float: left;
    margin: 7px 0 0 20px;
    width: 685px;
    display: block;
}

#search .dijitTextBox {
    width: 625px;
    font-size: 15px;
    padding: 4px 2px;
}

/* table in the center */
#datagrid .dojoxGrid {
    font: 12px 'Trebuchet MS', Arial, sans-serif;
}
#datagrid {
    width: 100%;
    height: 400px;
}
#datagrid-table .dojoxGridHeader .dojoxGridCell {
    background: #2d2d2d;
    color: #c8c4aa !important;
    font-size: 12.5px;
    font-weight: normal;
}
#datagrid-table .dojoxGridHeader .dojoxGridCell.dojoxGridCellOver .dojoxGridSortNode,
#datagrid-table .dojoxGridHeader .dojoxGridCellSortFocus .dojoxGridSortNodeFocus,
#datagrid-table .dojoxGridHeader .dojoxGridCellSortFocus .dojoxGridSortNode {
    background: #6d6d6d;
}
