@import "../../lib/dojo/resources/dojo.css";
@import "../../lib/dijit/themes/tundra/tundra.css";
@import "../../lib/smoke/smoke.css";
@import "../../lib/smoke/themes/dark.css";

@import "menu.css";

* {padding:0; margin:0; border:none; list-style:none; text-decoration:none; outline: none;}

body {
    font: 12px 'Trebuchet MS', Arial, sans-serif;
}

#top-menu {
    width: 100%;
    height: 38px;
    overflow: hidden;
    opacity: 0;
    font-size: 13px;
}

#top-menu .dijitMenuBar {
    padding: 5px;
}

#user-menu {
    position: absolute;
    right: 0;
    top: 0;
}

h1.current-page {
    display: block;
    float: left;
    font-size: 13px;
    vertical-align: center;
    text-align: center;
    background-color: #2d2d2d;
    padding: 8px 5px;
    margin: 0 8px;
    border-top: 2px solid #DD4B39;
    text-shadow: 1px 1px 0.5px #6d6d6d;
    min-width: 150px;
}

/* wrapper */
.wrapper {
    width: 960px;
    margin: 0 auto;
}

.dijitFocusedLabel {
    outline: none !important; /* I hate outlines! */
}

.dijitInputField.dijitArrowButtonInner {
    border: 0;
}
