<input
    data-dojo-type="dijit.form.CheckBox"
    type="checkbox"
    name="[% field.name %]"
    id="[% css_prefix _ form.name %]_[% field_name %]_input"
    value="1"
    [% IF field.value and field.value != 'false' %]
        checked="yes"
    [% END %]
/>
