[% FS_showlabel = 0 %]
<button
    type="submit"
    id="[% css_prefix _ form.name %]_[% field_name %]_input"
    class="[% css_prefix %]input [% css_prefix _ field_type %]_input [% css_prefix _ field_name %]_input"
    name="[% field_name %]"
    value="submit"
    data-dojo-type="dijit.form.Button">
    [% field.value ? field.value : field_display_name %]
</button>
