/* search bar section on top */
#search {
    width: 100%;
    margin: 50px 0;
    height: 53px;
    padding: 5px;
    opacity: 0;
}

#search > a.logo {
    display: block;
    float: left;
}

#search > form {
    float: left;
    margin: 7px 0 0 20px;
    width: 685px;
    display: block;
}

#search .dijitTextBox {
    width: 625px;
    font-size: 15px;
    padding: 4px 2px;
}
